<div class="card mb-4" *ngIf="book">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-right"
        alt="Image of {{ book.rating }} cats."
        src="https://api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <span class="badge badge-secondary">{{ book.rating }}</span>
      </h2>
    </div>
    <p>{{ book.description }}</p>

    <button
      class="btn btn-secondary"
      (click)="doRateDown()"
      [disabled]="!rateDownAllowed(book)"
    >-1</button>

    <button
      class="btn btn-primary ml-2"
      (click)="doRateUp()"
      [disabled]="!rateUpAllowed(book)"
    >+1</button>
  </div>

  {{ log() }}

</div>
